canvas {
  height: 100%;
  width: 100%;
  z-index: 1;
}

html, body {
  margin: 0 !important;
  padding: 0 !important;
}

@font-face {
  font-family: 'FutureBuglerUpright';
  src: url("assets/font/FutureBuglerUpright-Bold.otf") format("opentype");
}

table, tr, td{
  border-collapse: collapse;
  font-family: DIN Next LT Arabic Bold;
  background-color: rgba(0, 0, 0, 0.1);
  margin-right: 30;
  text-shadow: 2px 2px black; 
}

table {
  width: 60%;
  border: 2px white solid;
  border-left: 0px;
}

.bottom-right {
  position: absolute;
  font-family: DIN Next LT Arabic Bold;
  color: white;
  text-shadow: 2px 2px black; 
  bottom: 0;
  right: 20px;
}

.top-left {
  position: absolute;
  font-family: 'FutureBuglerUpright', serif;
  color: rgb(0, 144, 233);
  top: -20px;
  left: 5px;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}

.top-left2 {
  position: absolute;
  font-family: 'FutureBuglerUpright', serif;
  color: rgb(0, 144, 233);
  top: -20px;
  left: 170px;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}

.top-left-toggle {
  position: absolute;
  font-family: DIN Next LT Arabic Bold;
  color: white;
  text-shadow: 2px 2px black; 
  top: 70px;
  left: 5px;
}

.title {
  font-family: DIN Next LT Arabic Bold;  
  color: white;
  text-shadow: 2px 2px black;
  padding: 20px;
  padding-top: 1px;    
  padding-bottom: 10px;
}


.row {
  transition: 0.3s;
}

.row:hover {
  background-color: rgba(255, 255, 255, 0.3);
  transform: translateY(-5px);
}

.l-change {
  transition: 0.3s;
}

.l-change:hover {
  background-color: rgba(255, 255, 255, 0.3);
  transform: scale(0.8);
}

.l-change:active {
  opacity: 0.5;
  transform: scale(0.8);
}

.r-change {
  transition: 0.3s;
}


.r-change:hover {
  background-color: rgba(255, 255, 255, 0.3);
  transform: scale(0.8);
}

.r-change:active {
  opacity: 0.5;
  transform: scale(0.8);

}
.blurb {
  font-family: DIN Next LT Arabic Bold;
  color: white;
  padding-top: 20px;
  padding-right: 30px;
  text-shadow: 2px 2px black; 
}


.option-name{
  color: rgb(220, 220, 220);
}

.option-result{
  color: white;
}

.menu {
  position: absolute;
  top: 0;
  left: 15%;
  margin: auto;
  width: 70%;
  height: 70%;
  margin-top: 7%;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.7));
  border: 4px white solid;
  border-radius: 10px;
  z-index: 2;
}


body {
  user-select: none;
}

.arrow {
  border: solid white;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 2px;
}

.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}

.up {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}